@{
    ViewBag.Title = "About";
}

<h2>A propos</h2>


<p>Projet développé par Pierre Chételat, Gary Margliano et Christophe Bolinhas dans le cadre du projet de groupe du cours de C#</p>

<p>Réalisé avec les technologies suivante :</p>

<ul>
    <li>WCF</li>
    <li>Asp.net MVC 4</li>
    <li>Bootstrap</li>
    <li>TrueScript</li>
    <li>JQuery</li>
    <li>WPF (Client Desktop)</li>

</ul>
