@{
    ViewBag.Title = "Accueil";
}




<p>Sans plus attendre, rejoignez ou créer une chambre et jouez à la Sueca !</p>

<center>@Html.ActionLink("Jouer à la Sueca", "Index", new { controller = "Listing" }, new { @class = "btn btn-default btn-xl" })</center>




