@{
    ViewBag.Title = "Join";
}

<h2>Join</h2>

<div id="myCardArea">
    #MePendre
</div>
@Scripts.Render("~/Scripts/typings/jquery/jquery.js");
@Scripts.Render("~/TypeScript/CardEnums.js")
@Scripts.Render("~/TypeScript/CardDefinition.js")
@Scripts.Render("~/TypeScript/CardManager.js")