@{
    ViewBag.Title = "Join";
}

<h2>Join</h2>
<canvas id='c' style="border:1px solid black;width:100%;"></canvas>



@Scripts.Render("~/TypeScript/CardEnums.js")
@Scripts.Render("~/TypeScript/CardDefinition.js")
@Scripts.Render("~/TypeScript/CardManager.js")
@Scripts.Render("~/Scripts/CustomScripts/GameScript.js")